.pwj_draw_box{
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
	z-index: 999;
}
canvas#pwj_draw{
	width:100%;
	height:100%;
	cursor:pointer;
	margin:0px;
	padding:0px;
	background:none;
}
#pwj_tool_box{
	position:fixed;
	left:0px;
	bottom:0px;
	height:50px;
	width:100%;
	background-color: #aaa;
	box-shadow: 0 -2px 20px #000;
	z-index: 9999;
	opacity:0.5;
}
#pwj_tool_box:hover{
	opacity:1;
}
.pwj_color_picker{
	width:50px;
	height:50px;
	border:none;
	float:left;
	margin:0px;
}
.pwj_button{
	width:50px;
	height:50px;
	float:left;
}
.pwj_note_box{
	position:absolute;
	z-index:9999;
	padding-top:10px;
	resize:both;
	padding:15px 5px 5px 5px;
	overflow:hidden;
	border:solid 1px #A9A9A9;
	border-radius:3px;
	background-color:#D0D0D0;
	cursor:move;
	opacity:0.8;
	-webkit-transition: opacity 300ms ease-in-out;
}
.pwj_note_box:hover{
	opacity:1;
}
.pwj_note{
	width:100%;
	height:100%;
	resize:none;
	border:none;
	background:#fff;
	z-index:99999;
	border-radius: 3px;
	padding: 3px;
	box-sizing: border-box;
}
html{
	margin-bottom:50px;
}

@media print {
	#pwj_tool_box{
		display: none;
	}
}
